<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form (ngSubmit)="guardarSector()">
    <ion-item>
      <ion-label fixed>Código Tipo Sector: </ion-label>
      <ion-input type="text" [(ngModel)]="codigotiposector" name="codigotiposector"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Nombre Tipo Sector: </ion-label>
      <ion-input type="text" [(ngModel)]="nombretiposector" name="nombretiposector"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Tipo Sector Activo: </ion-label>
      <ion-input type="text" [(ngModel)]="tiposectoractivo" name="tiposectoractivo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Creación Tipo Sector: </ion-label>
      <ion-input type="text" [(ngModel)]="creaciontiposector" name="creaciontiposector"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Modificación Tipo Sector: </ion-label>
      <ion-input type="text" [(ngModel)]="modificaciontiposector" name="modificaciontiposector"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Descripción Tipo Sector: </ion-label>
      <ion-input type="text" [(ngModel)]="descripciontiposector" name="descripciontiposector"></ion-input>
    </ion-item>

    <button ion-button type="submit" block>Guardar Sector</button>
  </form>

  <h1>Listado de Sectores</h1>
  <h3>Total registros: {{milongitud}} </h3>

  <ion-list>
    <ion-item-divider *ngFor="let sector of sectores">
      <ion-item>
        <p> {{sector.pkidtiposector}} </p>
        <p> {{sector.codigotiposector}} </p>
        <p> {{sector.nombretiposector}} </p>
        <p> {{sector.tiposectoractivo}} </p>
        <p> {{sector.creaciontiposector}} </p>
        <p> {{sector.modificaciontiposector}} </p>
        <p> {{sector.descripciontiposector}} </p>
      </ion-item>
    </ion-item-divider>
  </ion-list>

  <button ion-button color="dark" type="submit" block (click)="cargarSectores()">Cargar Sectores</button>

  <h1>Descargar Tipos de Sector API</h1>

  <ion-list>
    <ion-item-divider *ngFor="let sectord of sectoresData">
      <ion-item>
        <p> {{sectord.pkidtiposector}} </p>
        <p> {{sectord.codigotiposector}} </p>
        <p> {{sectord.nombretiposector}} </p>
        <p> {{sectord.tiposectoractivo}} </p>
        <p> {{sectord.creaciontiposector}} </p>
        <p> {{sectord.modificaciontiposector}} </p>
        <p> {{sectord.descripciontiposector}} </p>
      </ion-item>
    </ion-item-divider>
  </ion-list>


  <button ion-button color="danger" type="submit" block (click)="descargarSectores()">Descargar Sectores</button>

</ion-content>